.graphique{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.graphique .ligne{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr repeat(var(--colonnes), 20px);
    align-items: center;
    
    font-size: 0.75rem;
    line-height: 1rem;
}
.graphique .point{
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

@media (width < 768px) {
    .graphique .point{
        width: 15px;
        height: 15px;
    }
    .graphique .ligne{
        grid-template-columns: 1fr repeat(var(--colonnes), 15px);
        font-size: 0.6rem;
        line-height: .8rem;
    }
}