/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Bluu";
    src: url(/fonts/BluuNext.otf);
}
:root{
    --bg-main: #009090;
    --bg-main-60: #00909060;
    --bg-main-20: #00909020;
}