.appel .ligne{
    border-top: 1px solid #0001;

    display: grid;
    grid-template-columns: 200px 200px 100px 40px 40px;
}

.appel .ligne > * {
    padding: 8px 16px;
    transition: background-color .15s ease-in-out;
}

.appel .ligne.tete > *:has(+ *),
:has(+ .cube), .cube {
    border-right: 1px solid #0001;
} 

.appel .ligne .cube,
.appel .ligne.tete > *{
    cursor: pointer;
    user-select: none;
}

.appel .ligne .cube{
    width: 40px;
    height: 40px;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appel .ligne .cube:hover,
.appel .ligne.tete > *:hover {
    background-color: #0001;
}

@media (width < 800px) {
    .appel .ligne{
        grid-template-columns: 1fr 1fr 1fr 40px 40px;
    }
}
@media (width < 640px) {
    .appel .ligne:not(.tete) {
        align-items: center;
    }
    .appel .ligne{
        font-size: .9rem;
        grid-template-columns: 1fr 1fr 1fr 40px 40px;
    }
    .appel .ligne > * {
        padding: 3px 6px;
    }
}